<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>VBGen</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato:400,700">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
  </head>
  <body class="body">
    <div class="body-wrapper">
      <header class="header">
        <a href="/" class=header-title>VBGen: Virtual Background Generator for Zoom</a>
        <nav>
          <ul>
            <li>
              <a class="about-link" href="/about">About</a>
              <a class="login-link" href="/login">Login</a>
            </li>
          </ul>
        </nav>
      </header>
      <div class="button-wrapper">
        <h1>Let's create your custom virtual background for Zoom!</h1>
        <label class="upload-button">
          <i class="fas fa-upload"></i>  Upload images
          <form action="/upload" method="POST" enctype="multipart/form-data">
            <input type="file" name="file" accept="image/*" onchange="this.form.submit();">
          </form>
        </label>
      </div>
      <div class="result-wrapper">
        <div id="preview-wrapper" class="preview-wrapper">
          {% if img_path %}
            <img src="{{ img_path }}" alt="Not Found" height="225px" width="400px"><br><br>
          {% else %}
            <img id="preview-image" src="static/resources/back.jpg" alt="Not Found" height="225px" width="400px"><br><br>
          {% endif %}
          <strong>Preview</strong>
        </div>
        <div class="result">
          <div>
            Text <textarea id="telop-textarea" rows="5" cols="80" onkeyup="updateTelopText(value);"></textarea>
            <input type="hidden" id="input-text" value="">
          </div>
          <div>
            Color <input type="color" id="color" value="#FFFFFF">
          </div>
          <div>
            X <input size="10" required> px　　　
            Y <input size="10" required> px
          </div>
          <div class="action-wrapper">
            <button class="add" onclick="addTextInImage();"><i class="fas fa-plus-circle"></i><br>Add</button>
            <button class="undo"><i class="fas fa-undo-alt"></i><br>Undo</button>            
            <button type="submit" class="download"><i class="fas fa-download"></i><br>Download</button>
          </div>
        </div>
      </div>
      <footer class="footer">&copy; 2021 Kaoru Muta.</footer>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
  </body>
</html>