<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>VBGen</title>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato:400,700">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
  </head>
  <body class="body">
    <header class="header">
      <h1 class=h1-title>VBGen: Virtual Background Generator for Zoom<h1></h1>
    </header>
    <footer class="footer">&copy; 2021 Kaoru Muta.</footer>
  </body>
</html>